body{
/* background-color: #f0f3f5; */
  /* background: url(../images/coinBackground2.jpg) ;
    /* Full height */
    /* height: 100%; 
    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */ 
}
.container{
    margin-top: 20px;
    margin-bottom: 30px;
    /* background: whitesmoke; */
  }
  #logo{
    float: left;
    margin-right: 20px;   
    padding-top: 20px; 
  }
  h1{
    /* font-family: 'Tangerine', cursive;
    font-family: 'Great Vibes', cursive; */
    font-family: 'Markazi Text', serif;
    font-size: 45px;
    font-weight: bolder;
    /* font-style: italic; */
  }
  #title{  
   
  }
  .container-fluid{
    /* background: whitesmoke; */
}
  #main-contents{
    margin-top: 20px;
  }
  .imagestyle{
    border-radius:10px;
    border: solid 1.5px #12254e;
    margin-right: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  #dataDiv{
    float: left;
    width:50%;
    height: 200px;
    border: solid 1px grey;
    margin-left: 120px;
    margin-top: 40px;
  }

  #firebaseDiv{
    width: 50%;
    height: 200px;
    border: solid 1px grey;
    margin-left: 50px;
    margin-top: 40px;

  }
  #articleDiv{
    height: 300px;
    width: 800px;
    border: solid 1px grey;
    margin-left: 120px;
    margin-top: 40px;
  }