#ticketnote {
   
  font-size: 12px; 
  font-family: 'Share Tech Mono', monospace;
}
#updatePrices {

  font-size: 20px;
  font-family: 'Share Tech Mono', monospace;
  color: yellow;
  background-color: black;
}

.carousel-item {
    width: 800px;
    height: 400px;
}

.articles {
    border: solid;
    border-width: 3px;
    margin-top: 500px;
}

body{
  background-color: #f0f3f5;
      background: url(../images/bitcoin1.jpeg) ;
      /* Full height */
      height: 100%; 
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; 
  }
  .container{
      margin-top: 20px;
      margin-bottom: 10px;
   
    }
      #logo{
        float: left;
        margin-right: 20px;   
        padding-top: 20px; 
      }
      h1{
        font-family: 'Markazi Text', serif;
        font-size: 45px;
        font-weight: bolder;
      }
      #title{  
       
      }
      .container-fluid{
    }
      #main-contents{
        margin-top: 20px;
      }
      .imagestyle{
        border-radius:10px;
        border: solid 1.5px #12254e;
        margin-right: 5px;
        margin-bottom: 10px;
        cursor: pointer;
      }
      #dataDiv{
        float: left;
        width:50%;
        height: 250px;
        margin-left: 120px;
        margin-top: 40px;
        background: whitesmoke;
        overflow: scroll;
        }
    
      #firebaseDiv{
        width: 50%;
        height: 250px;
        background: whitesmoke;
        margin-left: 50px;
        margin-top: 40px;
      }
      #articleDiv{
        height: 250px;
        width: 100%;
        background: whitesmoke;
        margin-left: 120px;
        margin-top: 40px;
        overflow: scroll;
      }
      footer{
        width: 100%;
        padding: 8px;
        background: #36383b;
        color: white;
      }